#loginform {
    margin: 100px 0px 100px 0px;

}
#signin {
    padding-top: 90px;
}
#learnmore {
    padding-top: 20px;
}
#logincards {
    padding-top: 40px;
}
#ad {
    padding-top: 80px;
}
#loginbtn {
    margin-bottom: 30px;
}
#mycloud {
    padding-top: 100px;

    padding-left: 55px;
}
#ctitle {
    padding-top: 30px;
}
#card {
    border-radius:25px;
}
#moreicon{
    margin-top: 5px;
}
#cards{
    padding-bottom: 50px;
}
#card1{
    margin-bottom: 80px;
}

#sortby{
    padding-left: 57px;
    padding-bottom: 50px;
    display: flex;
    align-items: center;
}
#sortbytext{
    padding-right: 5px;
}
